@model ArtGallery.ViewModels.SaleViewModel

<div class="modal-header">
    <h5 class="modal-title">Add New Sale</h5>
</div>
<div class="modal-body">
    @using (Html.BeginForm("CreateSale", "Sales", FormMethod.Post, new { id = "createSaleForm", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-7">
                <h4> Sale Information</h4>
                <div class="form-group mb-2">
                    @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label col-md-3" })
                    @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group mb-2">
                    @Html.LabelFor(model => model.SaleDate, htmlAttributes: new { @class = "control-label col-md-3" })
                    @Html.EditorFor(model => model.SaleDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SaleDate, "", new { @class = "text-danger" })
                </div>
                <div class="form-group mb-2">
                    @Html.LabelFor(model => model.CustomerPhone, htmlAttributes: new { @class = "control-label col-md-3" })
                    @Html.EditorFor(model => model.CustomerPhone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustomerPhone, "", new { @class = "text-danger" })
                </div>
                <div class="form-group mb-2">
                    @Html.LabelFor(model => model.IsPaid, htmlAttributes: new { @class = "control-label col-md-3" })
                    @Html.EditorFor(model => model.IsPaid)
                    @Html.ValidationMessageFor(model => model.IsPaid, "", new { @class = "text-danger" })
                </div>
                <div class="form-group mb-2">
                    @Html.LabelFor(model => model.TotalPrice, htmlAttributes: new { @class = "control-label col-md-3" })
                    @Html.EditorFor(model => model.TotalPrice)
                    @Html.ValidationMessageFor(model => model.TotalPrice, "", new { @class = "text-danger" })
                </div>
                <div class="form-group mb-2">
                    @Html.LabelFor(model => model.PayMethodId, htmlAttributes: new { @class = "control-label col-md-3" })
                    @Html.DropDownListFor(model => model.PayMethodId, new SelectList(Model.PayMethods, "PayMethodId", "PayMethodName"), "Select PayMethod", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PayMethodId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group mb-2">
                    <img id="imageFile" src="~/images/noimage.png" alt="image" width="100" /><br />
                    @Html.LabelFor(model => model.ProfileFile, htmlAttributes: new { @class = "control-label col-md-3" })
                    <input onchange="readUrl(this)" type="file" name="ProfileFile" id="ProfileFile" class="invisible" />
                </div>
            </div>
            <div class="col-md-5">
                <h4> Detail Information</h4>
                <button onclick="AddDetail()" type="button" class="btn btn-warning mb-2">Add Detail</button>
                @Html.Partial("_AddDetails", Model.SaleDetails)
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success">Create Sale</button>
        </div>
    }
</div>
<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<script>
    function readUrl(i) {
        if (i.files && i.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#imageFile").attr('src', e.target.result)
            }
            reader.readAsDataURL(i.files[0]);
        }
    }
    function deleteRow(btn) {
        $(btn).closest('tr').remove();
        updateSaleDetailIndex();
    }
    function AddDetail() {
        var lastIndex = parseInt($('#HIndex').val());
        var newRow = `
        <tr>
            <td>
                <input type="text" value="" class="form-control" name="SaleDetails[${lastIndex}].ArtName" />
            </td>
            <td>
                <input type="text" value="" class="form-control" name="SaleDetails[${lastIndex}].Quantity" />
            </td>
            <td>
                <button onclick="deleteRow(this)" type="button" class="btn btn-danger">Delete</button>
            </td>
        </tr>
        `
        $("#ExTable tbody").append(newRow);
        $('#HIndex').val(lastIndex + 1);
        updateSaleDetailIndex();
    }
    function updateSaleDetailIndex() {
        $("#ExTable tbody tr").each(function (index) {
            $(this).find("input[name^='SaleDetails']").each(function () {
                var name = $(this).attr("name");
                name = name.replace(/SaleDetails\[\d+\]/, "SaleDetails[" + index + "]");
                $(this).attr("name", name)
            })
        })
    }

</script>


